<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hotel | Home</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/homestyle.css' %}    ">
    {% if request.path == '/hotels/' %}
    <link rel="stylesheet" href="{% static 'styles/hotelsstyle.css' %}    ">
    {% endif %}

    {% if '/rooms/' in request.path or request.path == '/myRooms/' %}
    <link rel="stylesheet" href="{% static 'styles/roomstyle.css' %}    ">
    {% endif %}

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<div class="container-fluid px-0">
    <nav class="navbar navbar-expand-lg navbar-light bg-primary mx-0 text-white">
        <a class="navbar-brand text-white" href="{% url 'home' %}">Hotel Registeration</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText"
                aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarText">
            <ul class="navbar-nav mr-auto">


                {% if request.path != '/' %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'home' %}">Home</a>
                </li>
                {% endif %}
                {% if user.is_authenticated %}
                {% if user.username == 'admin' %}
                {% if request.path != '/addHotel/' %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'addhotel' %}">add Hotel</a>
                </li>
                {% endif %}
                {% else %}
                {% if request.path != '/myRooms/' %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'myRooms' %}">my rooms</a>
                </li>
                {% endif %}
                {% endif %}

                <li class="nav-item"><a class="nav-link text-white" href="{% url 'logout' %}">Logout</a></li>
                {% if request.path != '/hotels/' %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'hotels' %}">Hotels</a>
                </li>
                {% endif %}
                {% else %}
                {% if request.path != '/login/' %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'login' %}">Login</a>
                </li>

                {% endif %}
                {% if request.path != '/signup/' %}
                <li class="nav-item">
                    <a class="nav-link text-white" href="{% url 'signup' %}">Signup</a>
                </li>
                {% endif %}
                {% endif %}



            </ul>
        </div>
    </nav>
    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer class="text-center text-lg-start bg-primary">

        <!-- Copyright -->
        <div class="text-center text-white p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            &copy; 2023
            <a class="text-white" href="https://mdbootstrap.com/">Hotel Registration</a>
        </div>
        <!-- Copyright -->
    </footer>

</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
</body>
</html>